<!DOCTYPE <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<h1>Submitted Information</h1>
<body>
    <p>Name: <%= yourName %></p>
    <p>Email: <%= yourEmail %></p>
    <p>Dojo Location: <%= yourDojo %></p>
    <p>Favorite Language: <%= yourFav_lang %></p>
    <p>Commnet: <%= yourComment %></p>
</body>
</html>
